<template>
  <div class="container">
      <!-- Material form login -->
<!--       <form>
        <p class="h4 text-center mb-4">Sign in</p>
        <div class="grey-text">
          <mdb-input label="Your email" icon="envelope" type="email"/>
          <mdb-input label="Your password" icon="lock" type="password"/>
        </div>
        <div class="text-center">
          <mdb-btn>Login</mdb-btn>
        </div>
      </form> -->
      <!-- Material form login -->
    <h1>Login</h1>
    <form @submit.prevent="login()">
      <input type="text" class="form-control my-2" placeholder="email" v-model="usuario.email" />
      <input
        type="text"
        class="form-control my-2"
        placeholder="password"
        v-model="usuario.password"
      />
      <b-button type="submit">Acceder</b-button>
    </form>

    <!-- <button v-google-signin-button="clientId" class="google-signin-button"> Continue with Google</button> -->
    <div class="container container-table">
      <!-- Errors -->
      <div v-if="response" class="text-red">
        <p>{{response}}</p>
      </div>

      <!-- login Button -->
      <!--<a id="signin-button" v-on:click="signIn">
        <i class="fa fa-google-plus-official" aria-hidden="true"></i>
        Sign in with Google
      </a> -->
      <button type="button" class="google-button" id="signin-button" v-on:click="signIn">
        <span class="google-button__icon google-button__icon--plus">
          <svg viewBox="0 0 93 60" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M.12 28.862C.375 13.725 14.29.47 29.428.974c7.253-.337 14.07 2.82 19.626 7.252-2.37 2.694-4.826 5.29-7.45 7.716-6.677-4.615-16.174-5.934-22.852-.603-9.552 6.606-9.987 22.206-.798 29.318 8.936 8.11 25.826 4.083 28.295-8.333-5.597-.084-11.21 0-16.806-.182-.013-3.34-.027-6.678-.013-10.016 9.357-.028 18.714-.043 28.085.028.56 7.856-.477 16.217-5.303 22.712-7.31 10.283-21.983 13.285-33.43 8.88C7.29 53.37-.848 41.235.12 28.862zm75.643-11.167h8.347c.014 2.792.028 5.598.056 8.39 2.792.028 5.598.028 8.39.056v8.348c-2.792.028-5.584.042-8.39.07-.028 2.805-.042 5.597-.056 8.39h-8.36c-.03-2.793-.03-5.585-.057-8.376l-8.39-.084V26.14c2.793-.027 5.584-.04 8.39-.056.014-2.805.042-5.597.07-8.39z"
              fill="#DC4E41"
            />
          </svg>
        </span>
        <span class="google-button__text">Sign in with Google</span>
      </button>

      <!-- <b-button type="submit" v-on:click="signOut">Salir</b-button> -->
    </div>

    <div v-if="mensaje !== ''">
      <p>{{mensaje}}</p>
    </div>
  </div>
</template>
<script>
import Vue from "vue";
import { mapState, mapMutations, mapActions } from "vuex";
import router from "../router";
//import { mdbInput, mdbBtn } from 'mdbvue';

export default {
  data() {
    return {
      //usuario: {email: 'puma@gmail.com', password: '123456789'},
      usuario: { email: "", password: "" },
      mensaje: "",
      section: "Login",
      loading: "",
      response: ""
      //clientId: '473202198889-50ap94fecdnis6da1jmd9niloc8rf25b.apps.googleusercontent.com'
    };
  },
  methods: {
    ...mapMutations(["obtenerUsuario"]),
    ...mapActions(["guardarUsuario", "leerToken", "cerrarSesion"]),
    login() {
      console.log("Usuario: " + this.usuario.email);
      console.log("Contraseña: " + this.usuario.password);
      /*       const formData = new FormData();
      formData.append('email',this.usuario.email)
      formData.append('password',this.usuario.password) */
      this.axios
        .post("login", this.usuario)
        .then(res => {
          console.log("Estas en la funcion login");
          const token = res.data.token;
          console.log("Token: " + token);
          this.guardarUsuario(token);
        })
        .catch(err => {
          console.log("Error login");
          console.log(err);
          this.mensaje = err;
        });
    },

    signIn: function() {
      Vue.googleAuth().directAccess();
      Vue.googleAuth().signIn(this.onSignInSuccess, this.onSignInError);
    },
    onSignInSuccess: function(googleUser) {
      console.log(googleUser);
      var profile = googleUser.getBasicProfile();
      console.log("ID: " + profile.getId()); // Do not send to your backend! Use an ID token instead.
      console.log("Name: " + profile.getName());
      console.log("Image URL: " + profile.getImageUrl());
      console.log("Email: " + profile.getEmail());

      var id_token = googleUser.getAuthResponse().id_token;
      this.axios
        .post("google", { idtoken: id_token })
        .then(res => {
          //console.log(console.log(res));
          //console.log(console.log(res.data.token));
          const token = res.data.token;
          console.log(token);
          // this.usuarioDB = res.data.usuarioDB
          //this.booleanGoogle('true');
          console.log("ANTES DEL THIS");
          this.guardarUsuario(token);
          console.log("THIS USUARIO");
        })
        .catch(e => {
          console.log(e.response);
        });
    },
 /*    signOut: function() {
      Vue.googleAuth().signOut(function () {
        // things to do when sign-out succeeds
      }, function (error) {
        // things to do when sign-out fails
      })
    }, */
    onSignInError: function(error) {
      this.response = "Failed to sign-in";
      console.log("GOOGLE SERVER - SIGN-IN ERROR", error);
    },
    toggleLoading: function() {
      this.loading = this.loading === "" ? "loading" : "";
    },
    resetResponse: function() {
      this.response = "";
    }
  }
};
</script>
<style>
.google-signin-button {
  color: white;
  background-color: red;
  height: 50px;
  font-size: 16px;
  border-radius: 10px;
  padding: 10px 20px 25px 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.google-button {
  height: 40px;
  border-width: 0;
  background: white;
  color: #737373;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.05);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  padding: 0;

  &:focus,
  &:hover {
    box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
  }

  &:active {
    background-color: #e5e5e5;
    box-shadow: none;
    transition-duration: 10ms;
  }
}

.google-button__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 8px 0 8px 8px;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}

.google-button__icon--plus {
  width: 27px;
}

.google-button__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
  font-size: 14px;
  font-weight: bold;
  font-family: "Roboto", arial, sans-serif;
}

button ~ button {
  margin-left: 20px;
}
</style>